{% load wagtailcore_tags %}

{% if pages %}

<ul id="secondary_menu" class="menu">

  {% for page in pages %}

  {% with page.get_children as childrens %}

  <li class="menu-item">

    {% if childrens %}

    <a href="#">{{ page.title }}</a>
      <ul class="sub-menu{% if page == calling_page or page == calling_page.get_parent %} active{% endif %}">

      {% for children in childrens %}

        <li>
          <a href="{% pageurl children %}">{{ children.title }}</a>
        </li>

      {% endfor %}

    </ul>

    {% else %}

      {# Hide page from secondary menu when it has no children #}
      {% if calling_page != page %}

      <a href="{% pageurl page %}">{{ page.title }}</a>

      {% endif %}

    {% endif %}

  </li>

  {% endwith %}

  {% endfor %}

</ul>

{% endif %}
