{% load ultracore_tags wagtailcore_tags static wagtailimages_tags %}
{% get_site_root as site_root %}

{# Implementation of foundation theme dropdown menu - shows top level links and their children #}

<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1>
        {# Link to home page #}
        <a href="{% pageurl site_root %}">
          {% image request.site.sitesetting.site_logo max-200x40 class="navbar-brand" %}
        </a>
      </h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">

    {% for menuitem in menuitems %}

      <li class="{% if menuitem.show_dropdown %}has-dropdown{% endif %}{% if calling_page.url == menuitem.url %} active{% endif %}">

      {% if menuitem.show_dropdown %}

        {% if menuitem.specific.hide_link_in_menu %}

        <a class="parent-menu">{{ menuitem.title }}</a>

        {% else %}

        <a href="{% pageurl menuitem %}" class="parent-menu">{{ menuitem.title }}</a>

        {% endif %}

        {% top_menu_children parent=menuitem %}

        {% else %}

        <a href="{% pageurl menuitem %}" class="parent-menu">{{ menuitem.title }}</a>

        {% endif %}

      </li>

    {% endfor %}

    {% for menuitem in extra_menuitems %}

      <li>
        <a href="{{ menuitem.link }}" class="parent-menu">{{ menuitem.name }}</a>
      </li>

    {% endfor %}

    </ul>
  </section>
</nav>
