{% load wagtailimages_tags wagtailembeds_tags %}

{% if carousel_items %}

<ul class="bxslider">

  {% for carousel_item in carousel_items %}

  <li>

    {% image carousel_item.image width-960 as carouselimagedata %}

    {% with carousel_item.link as link %}

    {% if link %}<a href="{{ link }}">{% endif %}

      <img src="{{ carouselimagedata.url }}" width="{{ carouselimagedata.width }}" height="{{ carouselimagedata.height }}" alt="{{ carouselimagedata.alt }}" title="{{ carousel_item.caption }}" />

    {% if link %}</a>{% endif %}

    {% endwith %}


  </li>

{% endfor %}

</ul>

{% endif %}
