{% extends "ultracore/base_pages.html" %}
{% load pageurl image_tags wagtailcore_tags ultracore_tags static %}

{% block content %}

<div class="row">
  <div class="large-6 columns">{{ self.title }}</div>
  <hr>
  <form method="GET" action=".">
    <div class="row">
      <div class="large-2 large-offset-6 columns">
        <select name="area">

        {% get_areas as areas %}

          <option value="">Todas</option>

          {% for area in areas %}

          <option value="{{ area.name }}">{{ area.name }}</option>

          {% endfor %}

        </select>
      </div>
      <div class="large-2 columns">
        <select name="agency">

        {% get_agencies as agencies %}

          <option value="">Todas</option>

          {% for agency in agencies %}

          <option value="{{ agency.name }}">{{ agency.name }}</option>

          {% endfor %}

        </select>
      </div>
      <div class="large-2 columns">
        <input type="submit" value="Filtrar" />
      </div>
    </div>
  </form>
</div>

{#% include "ultracore/includes/body.html" with body=self.body only %#}

{% get_agencies filter=True as agencies %}

{% get_areas filter=True as areas %}

{% for agency in agencies %}

<h1>{{ agency.name }}</h1>
<div class="areas">

  {% for area in areas %}

  <h3>{{ area.name }}</h3>

  {% get_contacts area=area agency=agency as contacts%}

  {% include "ultracore/includes/contacts_directory.html" with contacts=contacts %}

{% endfor %}

</div>

{% endfor %}

{% endblock %}
