{% extends "ultracore/base.html" %}
{% load pageurl rich_text ultracore_tags %}

{% block content %}

<div class="row"><!-- container -->
  <div class="large-3 columns">

    <h1>{{ self.title }}</h1>

    {{ self.sub_menu|richtext }}

  </div>

  {% get_contacts self as contacts %}

  <div class="large-{% if contacts %}6{% else %}9{% endif %} columns">

    {{ self.intro|richtext }}

    <form action="{% pageurl self %}" method="POST">

      {% csrf_token %}

      {{ form.as_p }}

      <input type="submit">
    </form>
  </div>

  {% if contacts %}

  <div class="large-3 columns">

    {% include "ultracore/includes/contacts.html" with contacts=contacts %}

  </div>

  {% endif %}

</div> <!-- end row -->

{% endblock %}
