{% extends "ultracore/base.html" %}
{% load pageurl rich_text %}

{% block content %}

<div class="row"><!-- container -->
  <div class="large-3 columns">

    <h1>{{ self.title }}</h1>

    {{ self.sub_menu|richtext }}

  </div>
  <div class="large-6 columns">


    {{ self.intro|richtext }}

    <form action="{% pageurl self %}" method="POST">

      {% csrf_token %}

      {{ form.as_p }}

      <input type="submit">
    </form>
  </div>
  <div class="large-3 columns">

    {#% contacts %#}

  </div>
</div> <!-- end row -->

{% endblock %}
