{% extends "ultracore/base.html" %}
{% load ultracore_tags static rich_text image_tags %}

{% block content %}

<div class="row">
  <div class="wrong" class="large-10 large-offset-1 columns">

    {% include "ultracore/includes/carousel.html" with carousel_items=self.carousel_items.all only %}

  </div>

  <div class="large-10 large-offset-1 columns">

    <ul class="bxslider-services">

      {% for service in self.services.all %}

      <li>

        {% with service.link as link %}

        {% if link %}<a href="{{ link }}">{% endif %}

          {% image service.feed_image width-180 class="algo" %}

          {% if link %}</a>{% endif %}

        {% endwith %}

      </li>

      {% endfor %}

    </ul>

  </div>

</div>

{% endblock %}
