{% extends "ultracore/base_pages.html" %}
{% load pageurl image_tags wagtailcore_tags ultracore_tags %}

{% block heading %}

<div class="row">
  <div id="special-image" class="large-12 columns">

    {% image self.feed_image width-960 %}

  </div>
</div>

{% endblock %}

{% block content %}

<div class="row"><!-- container -->
  <div class="large-3 columns">

    {{ self.side_title|richtext }}

    {% secondary_menu calling_page=self %}

  </div>

  {% get_contacts self as contacts %}

  <div id="page-body" class="large-{% if contacts %}6{% else %}9{% endif %} columns">

    {% include "ultracore/includes/body.html" with body=self.body only %}

  </div>
  
  {% if contacts %}

  <div class="large-3 columns">

    {% include "ultracore/includes/contacts.html" with contacts=contacts %}

  </div>


  {% endif %}

</div> <!-- end row -->

{% endblock %}

