{% extends "ultracore/base.html" %}
{% load ultracore_tags wagtailblog_tags static %}

{% block content %}

{% include "ultracore/includes/body.html" with body=self.body only %}

        <div id="slider" class="row">
            <div class="large-12 columns">
                {% include "ultracore/includes/carousel.html" with carousel_items=self.carousel_items.all only %}
            </div>
        </div> <!-- end slider -->

        <!-- Loop de servicios -->
        <div id="site-section" class="row">
        {% block adverts %}
            {# Uses a snippet - allows adverts to appear on every page #}
            {% adverts %}
        {% endblock %}
        </div>

{% endblock %}
