// Basic setting
@mixin left {@include float-left;}
@mixin right {@include float-right;}
@mixin clear {@include clearfix;}
@mixin none {display: none;}
@mixin block {display: block;}

@mixin bold {font-weight: bold;}
@mixin normal {font-weight: normal;}
@mixin light {font-weight: 300;}

.none {@include none;}
.clear {clear: both;}

// Color variables
// I need to make a refactoring for rgba colors
$white: #ffffff;
$background: $white;

// Loop servicios y representaciones
.loop-servicios {
  .title {
    position: absolute;
    margin: 15px 0 0 15px;
    h1 {
      color: $white;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
      margin: 0;
      line-height: 1.2;
      font-size: rem-calc(22);
    }
  }
  .overlay {
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
    bottom: 0;
    width: 100%;
    ul {
      margin-left: 15px;
      margin-bottom: 5px;
      li {
        list-style: none;
        a {
	  text-decoration: none;
          font-weight: 300;
	  color: #000;
          font-size: rem-calc(14);
          &:hover {
	    color: #008cba;
	  };
        }
      }
    }
  }
  img {border-radius: 3px;}
}

img {
    border-radius: 3px;
}

#heading img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#header .button {
  line-height: 4px;
}

#language {
  height: 18px;
  font-size: 10px;
  line-height: 14px;
  padding: 0;
}

.bx-wrapper .bx-viewport
{
    box-shadow: 0 0 0 0;
}

.loop-footer {
  font-size: 10px;
  .footer a {
    padding-right: 5px;
    float: left;
    color: #000;
    &:hover {
      color: #008cba;
    };
  }
}
