// Basic setting
@mixin left {@include float-left;}
@mixin right {@include float-right;}
@mixin clear {@include clearfix;}
@mixin none {display: none;}
@mixin block {display: block;}

@mixin bold {font-weight: bold;}
@mixin normal {font-weight: normal;}
@mixin light {font-weight: 300;}

.none {@include none;}
.clear {clear: both;}

// Color variables
// I need to make a refactoring for rgba colors
$white: #ffffff;
$background: $white;

html,
body {
   margin: 0;
   padding: 0;
   height: 100%;
}
#container {
   min-height: 100%;
   position: relative;
}
#background {
   /* padding: 10px; */
   /* padding-bottom: 60px;   /\* Height of the footer *\/ */
}
#footer {
   position: absolute;
   bottom: 0;
   width: 100%;
}

#background { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img {
    border-radius: 3px;
}

#header .button {
  line-height: 4px;
}

#language {
  height: 18px;
  font-size: 10px;
  line-height: 14px;
  padding: 0;
}

.bx-wrapper .bx-viewport
{
  box-shadow: 0 0 0 0;
  margin-bottom: 5px;  /* fixes position */
  border: 0;  /* fixes losing some height */
}

ul.bxslider {
  margin: 0;
  padding: 0;
}

.background {
    position: absolute;
    z-index: -999;
    top: 0px;
    border-radius: 0px;
    width: 100%;
}

#special-image {
  text-align: center;
}

// Contacts
#contacts {
  overflow-y: scroll;
}

// remove default link colors
a {
    color: inherit;
}
a:hover 
{
     color: inherit; 
}

// Services
.hide-for-medium-up {
  text-align: center;
}

// Content
#content {
    border-radius: 3px;
}

// destroy foundation style !!
.top-bar-section li:not(.has-form) a:not(.button) {
  background: #ffffff;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
  background: #ffffff;
}

.top-bar-section .dropdown li:not(.has-form) a:not(.button) {
  background: #ffffff;
}

.top-bar-section .dropdown li:not(.has-form) a:not(.button):hover {
  background: #ffffff;
}
