// Basic setting
@mixin left {@include float-left;}
@mixin right {@include float-right;}
@mixin clear {@include clearfix;}
@mixin none {display: none;}
@mixin block {display: block;}

@mixin bold {font-weight: bold;}
@mixin normal {font-weight: normal;}
@mixin light {font-weight: 300;}

.none {@include none;}
.clear {clear: both;}

// Color variables
// I need to make a refactoring for rgba colors
$white: #ffffff;
$background: $white;

body #background {
  height: 100%;
}

img {
    border-radius: 3px;
}

#heading .row {
  padding-top: 3%;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

#content .row {
  padding-top: 3%;
}

#header .button {
  line-height: 4px;
}

#language {
  height: 18px;
  font-size: 10px;
  line-height: 14px;
  padding: 0;
}

.bx-wrapper .bx-viewport
{
  box-shadow: 0 0 0 0;
  margin-bottom: 5px;  /* fixes position */
  border: 0;  /* fixes losing some height */
}

ul.bxslider {
  margin: 0;
  padding: 0;
}

.background {
    position: absolute;
    z-index: -999;
    top: 0px;
    border-radius: 0px;
    width: 100%;
}

#footer-wrapper {
  border-radius: 3px;
  text-align: center;
}

#special-image {
  text-align: center;
}

#contacts {
  max-height: 150px;
  overflow-y: scroll;
  ul {
    font-size: 10px;
  }
}

// remove default link colors
a {
    color: inherit;
}
a:hover 
{
     color: inherit; 
}
