{% extends "ultracore/base.html" %}
{% load pageurl image_tags %}

{% if self.date %}

{% block heading %}

<div class="row">
  <div class="large-12 columns">

    {% image self.feed_image max-1000x250 as feed_image %}

    <img src="{{ feed_image.url }}" width="{{ feed_image.width }}" height="{{ feed_image.height }}" alt="{{ feed_image.alt }}" title="{{ self.title }}" />

  </div> <!-- end large-12 -->
</div> <!-- end row -->

{% endblock %}

{% endif %}

{% block content %}

<div class="row">
  <div class="large-3 columns">

    {{ self.title }}

  </div> <!-- end large-2 -->
  <div class="large-9 columns">

    {% include "ultracore/includes/body.html" with body=self.body only %}

  </div> <!-- end large-8 -->
</div> <!-- end row -->

{% with self.tags.all as tags %}

{% if tags %}

<div class="page-header"><h3>Tags</h3></div>

{% for tag in tags %}

<a href="{% pageurl self.blog_index %}?tag={{ tag }}"><button class="btn btn-primary" type="button">{{ tag }}</button></a>

{% endfor %}

{% endif %}

{% endwith %}

{# % include "ultracore/includes/related_links.html" with related_links=self.related_links.all only % #}

{% endblock %}
